body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

/*========================
        Common Styles 
==========================*/

.linker {
    position: relative;
    padding: 180px 0;
    border: 20px solid #000;
    border-image: url(https://static.wixstatic.com/media/fc1ef4_deb28715cd2a4986a56ef441fc13cfa1~mv2.png/v1/fill/w_1440,h_147,al_c,q_85,usm_0.66_1.00_0.01/fc1ef4_deb28715cd2a4986a56ef441fc13cfa1~mv2.webp) 20 20 / 20px 20px / 0rem;
    height: 789px;
    overflow: hidden;
}

.linker__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.linker__title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.linker__img-first {
    position: absolute;
    top: 200px;
    left: -160px;
    height: 604px;
    width: 441px;
}

.linker__img-second {
    position: absolute;
    top: 200px;
    right: -160px;
    height: 604px;
    width: 441px;
}

.link__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.link__info img {
    width: 200px;
    height: 200px;
    margin: 0 auto 100px;
}

.link__btn {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 150px auto 0;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
.link__btn:hover{
    background: #000;
    color: #fff;
    box-shadow: 0 0 5px #000,
                0 0 25px #000,
                0 0 50px #000,
                0 0 200px #000;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.link__btn:nth-child(1){
    filter: hue-rotate(270deg);
}
.link__btn:nth-child(2){
    filter: hue-rotate(110deg);
}
.link__btn span{
    position: absolute;
    display: block;
}
.link__btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#000);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.link__btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#000);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.link__btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#000);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.link__btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#000);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.link__form {
    margin-top: 60px;
}

.link__form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.link__form-item {
    margin-bottom: 15px;
}

.link__form-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
}

.link__btn-login {
    margin-top: 20px;
}

@media (max-width: 860px) {
    .linker__img-login.linker__img-first {
        left: -270px;
    }

    .linker__img-login.linker__img-second {
        right: -270px;
    }
}

@media (max-width: 620px) {

    .linker__img-login.linker__img-first {
        left: -355px;
    }

    .linker__img-login.linker__img-second {
        right: -355px;
    }
}

@media (max-width: 428px) {

    .linker {
        padding-top: 100px;
        height: 730px;
        border-image: none;
        position: fixed;
        width: 100%;
    }

    .linker__img-second {
        right: -300px;
    }

    .linker__img-first {
        left: -300px;
    }

    .linker__img-login {
        display: none;
    }

    .linker-login {
        padding-top: 150px;
    }
}